.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section p,
.markdown-section img,
.markdown-section table,
.markdown-section th,
.markdown-section tr,
.markdown-section td,
.markdown-section ul,
.markdown-section ol,
.markdown-section li,
.markdown-section pre,
.markdown-section pre > code {
    all: initial;
}

.markdown-section h1 {
    display: block;
    color: #101010;
    font-family: Roboto, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 29px;
    margin-bottom: 29px;
}

.markdown-section h2,
.markdown-section h3 {
    display: block;
    color: #464646;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 17px;
    margin-top: 0;
    margin-bottom: 16px;
}

.markdown-section h4 {
    display: block;
    color: #818181;
    font-family: Roboto;
    font-size: 13px;
    font-style: italic;
    line-height: 18px;
    margin-bottom: 18px;
}

.markdown-section table th {
    display: table-cell;
    height: 54px;
    background-color: #6e95a3;
    color: white;
    font-family: Roboto;
    font-size: 11px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
    vertical-align: middle;
    padding-left: 22px;
    padding-right: 22px;
    border: none;
}

.markdown-section table tr {
    display: table-row;
    background-color: #f1f1f1;
    border: none;
}

.markdown-section table tr:nth-child(2n) {
    background-color: white;
}

.markdown-section table td {
    display: table-cell;
    height: 40px;
    color: #979797;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    vertical-align: middle;
    padding-left: 22px;
    padding-right: 22px;
    border: none;
}

.markdown-section p {
    display: block;
    color: #585858;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 15px;
}

.markdown-section img {
    display: block;
    margin-top: 20px;
}

.markdown-section li {
    display: list-item;
    color: #585858;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    margin-left: 16px;
}

.markdown-section ol li {
    list-style-type: decimal
}

.markdown-section pre {
    display: block;
    padding-left: 21px;
    padding-right: 21px;
    background: none;
    margin-bottom: 15px;
}

.markdown-section pre > code {
    color: #585858;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
    white-space: pre;
}